@media screen and (max-device-width:1024px) {
    .power h1{
        color: wheat;
        text-align: center;
        font-family: "Rodchenko";
        font-size: 6vw;
        letter-spacing: 0.2vw;
        line-height: 9vw;
    }
}
@media screen and (max-device-width:768px) {
    .power h1{
        color: wheat;
        text-align: center;
        font-family: "Rodchenko";
        font-size: 7vw;
        letter-spacing: 0.2vw;
        line-height: 9vw;
    }
    .forest{
    width: 59vw;
    transition: background-image 0.3s;
    }
}
@media (max-width: 414px) {
    .power h1{
        color: wheat;
        text-align: center;
        font-family: "Rodchenko";
        font-size: 8vw;
        letter-spacing: 0.2vw;
        line-height: 9vw;
    }
}