@font-face {
    src: url("../fonts/Rodchenko/Rodchenko.ttf") format("truetype"); 
    font-family: "Rodchenko";
} 
@font-face {
    src: url("../fonts/Rodchenko/Rodchenkocondc.otf") format("truetype"); 
    font-family: "RodchenkoCond";
} 